<tr class="child" pid="{{data.order_id}}">
    <td colspan="12" style="text-align:left;padding:0px;word-break:break-all;">
        <div class="row goodsInfo" style="margin:0px;">
            <div class="tabbable tabbable-tabdrop">
                <ul class="nav nav-tabs">
                    <li class="active" name="tab_info">
                        <a href="#tab_info" data-toggle="tab" aria-expanded="true">订单信息</a>
                    </li>
                    <li class="" name="tab_products">
                        <a href="#tab_products" data-toggle="tab" aria-expanded="false">商品信息</a>
                    </li>
                    <li class="" name="tab_address">
                        <a href="#tab_address" data-toggle="tab" aria-expanded="false">地址信息</a>
                    </li>
                    <li class="" name="tab_shipped">
                        <a href="#tab_shipped" data-toggle="tab" aria-expanded="false">物流数据</a>
                    </li>
                    {% if data.order_status=='shipped' %}
                    <li class="pull-right pt-10">
                        <button data-id="{{data.order_id}}" class="btn green btn-xs btn-sm addShipedBtn">添加物流信息</button>
                    </li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_info">
                        <div class="profile-user-info" style="background-color:#fff;margin:0px;">
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 订单编号 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.order_sn }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 用户姓名 </div>
                                    <div class="profile-info-value">
                                        <span>{{data.address_real_name}}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 产品金额 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.product_price }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 订单总额 </div>
                                    <div class="profile-info-value">
                                        <span>{{data.total_price}}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 联系电话 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.address_phone }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 联系地址 </div>
                                    <div class="profile-info-value">
                                        <span>{{data.address_address}}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 用户支付状态 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.pay_status }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 商户支付状态 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.mer_pay_status }}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            {% if data.pay_status=='paid' %}
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 用户支付时间 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.pay_time|date('Y-m-d H:i:s')}}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 用户支付金额 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.pay_price }}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            {% endif %}
                            {% if data.mer_pay_status=='paid' %}
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 商户支付时间 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.mer_pay_time|date('Y-m-d H:i:s')}}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 商户支付金额 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.mer_pay_price }}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            {% endif %}
                            {% if data.order_status=='shipped' %}
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 发货类型 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.delivery_type|replace({1:'发货',2:'送货',3:'虚拟'})}}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 发货时间 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.delivery_time|date('Y-m-d H:i:s') }}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 快递/送货人名称 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.delivery_name}}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 快递单号/手机号 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.delivery_no }}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_products">
                        <div class="panel panel-default m-b-none">
                            <table class="table table-striped m-b-none">
                                <thead>
                                <tr>
                                    <th class="col-xs-4 text-center">商品名称</th>
                                    <th class="col-xs-2 text-center">SKU编号</th>
                                    <th class="col-xs-2 text-center">规格</th>
                                    <th class="col-xs-1 text-center">价格</th>
                                    <th class="col-xs-1 text-center">数量</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for k,v in data.products %}
                                <tr class="sku_node text-center">
                                    <td>{{v.product_title}}</td>
                                    <td>{{v.sku_no}}</td>
                                    <td>{{json_decode(v.product_options)|join(',')}}</td>
                                    <td>{{v.product_price}}</td>
                                    <td>{{v.product_num}}</td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td class="nodata" colspan="10">暂无数据</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_address">
                        <div class="profile-user-info" style="background-color:#fff;margin:0px;">
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 收件人 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.address.name }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 联系电话 </div>
                                    <div class="profile-info-value">
                                        <span>{{data.address.mobile|default(' ')}}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 地址 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.address.local|default('&nbsp;') }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 详细地址 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.address.address|default('&nbsp;') }}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 邮编 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.address.post_code }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 创建时间 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.address.created_time|date('Y-m-d H:i:s') }}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_shipped">
                        <div class="panel panel-default m-b-none">
                            <table class="table table-striped m-b-none">
                                <thead>
                                <tr>
                                    <th class="col-xs-1 text-center">ID</th>
                                    <th class="col-xs-2 text-center">日期</th>
                                    <th class="col-xs-8 text-center">内容</th>
                                </tr>
                                </thead>
                                <tbody id="shipedList">
                                {% for k,v in data.shipedList %}
                                <tr class="sku_node text-center">
                                    <td>{{v.id}}</td>
                                    <td>{{v.operation_time}}</td>
                                    <td>{{v.content}}</td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td class="nodata" colspan="10">暂无数据</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>