<div class="row mt-20" >
    <div class="col-md-12  {% if params.searchType is empty %}hide{% endif %}" id="listSearchBox">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-search"></i>搜索
                </div>
                <div class="tools">
                    <a class="clearSearchBtn" href="javascript:;" title="重置表单">
                        <i class="fa fa-refresh font-white" aria-hidden="true"></i>
                    </a>
                    <a class="searchBoxBtn" href="javascript:;" title="关闭搜索框">
                        <i class="fa fa-close font-white" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body flip-scroll">
                <div class="form-inline mt-5">
                    <form id="searchForm" action="{{url('/backend/robot/comments')}}" method="post">
                        <div class="form-group">
                            <label>筛选条件:</label>
                            <select id="searchType" name="searchType" class="form-control">
                                <option value="contents" {{params.searchType|eq('contents','selected','')}}>评论内容</option>
                                <option value="created_time" {{params.searchType|eq('created_time','selected','')}}>创建时间</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="searchValue" name="searchValue" value="{{params.searchValue}}" placeholder="搜索">
                            <button type="button" id="searchBtn" class="btn btn-success">搜索</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="{{ cmenu.icon }} font-dark"></i>
                    <span class="caption-subject bold uppercase">{{cmenu.name}}</span>
                </div>
                <div class="tools" style="padding:0px;">
                    {{ render("main/_tools") }}
                </div>
            </div>
            <div class="portlet-body">
                {{ render("main/_actions") }}
                <div class="table-responsive">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-striped table-hover table-checkable order-column dataTable mt-20 mb-10">
                            <thead>
                                <tr role="row">
                                    <th class="width50">
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="group-checkable">
                                            <span></span>
                                        </label>
                                    </th>
                                    <th class="col-md-2">所属分类</th>
                                    <th class="col-md-5">评论内容</th>
                                    <th class="col-md-1">状态</th>
                                    <th>添加时间</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for k,v in data.items %}
                            <tr role="row">
                                <td>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" value="{{ v.id }}">
                                        <span></span>
                                    </label>
                                </td>
                                <td>{{ categorys[v.category_id]['category_name'] }}</td>
                                <td>{{ v.contents }}</td>
                                <td>{{ label(v.status,{0:['danger','隐藏'],1:['success','正常']}) }}</td>
                                <td>{{ v.created_time|date('Y-m-d H:i:s') }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="nodata" colspan="10">暂无数据</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% include '_paginators/web.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

