<div class="row mt-20" >
    <div class="col-md-12 {% if params.searchType is empty %}hide{% endif %}" id="listSearchBox">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-search"></i>搜索
                </div>
                <div class="tools">
                    <a class="clearSearchBtn" href="javascript:;" title="重置表单">
                        <i class="fa fa-refresh font-white" aria-hidden="true"></i>
                    </a>
                    <a class="searchBoxBtn" href="javascript:;" title="关闭搜索框">
                        <i class="fa fa-close font-white" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body flip-scroll">
                <div class="form-inline mt-5">
                    <form id="searchForm" action="{{url('/backend/robot/member')}}" method="post">
                        <div class="form-group">
                            <label>筛选条件:</label>
                            <select id="searchType" name="searchType" class="form-control">
                                <option value="account" {{params.searchType|eq('account','selected','')}}>登陆账号</option>
                                <option value="nickname" {{params.searchType|eq('nickname','selected','')}}>用户昵称</option>
                                <option value="user_no" {{params.searchType|eq('user_no','selected','')}}>会员ID</option>
                                <option value="user_id" {{params.searchType|eq('user_id','selected','')}}>UID</option>
                                <option value="created_time" {{params.searchType|eq('created_time','selected','')}}>创建时间</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="searchValue" name="searchValue" value="{{params.searchValue}}" placeholder="搜索">
                            <button type="button" id="searchBtn" class="btn btn-success">搜索</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="{{ cmenu.icon }} font-dark"></i>
                    <span class="caption-subject bold uppercase">{{cmenu.name}}</span>
                </div>
                <div class="tools" style="padding:0px;">
                    {{ render("main/_tools") }}
                </div>
            </div>
            <div class="portlet-body">
                {{ render("main/_actions") }}
                <div class="table-responsive">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-striped table-hover table-checkable order-column dataTable mt-20 mb-10">
                            <thead>
                            <tr role="row">
                                <th class="width50">
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="group-checkable">
                                        <span></span>
                                    </label>
                                </th>
                                <th class="col-md-1 text-center">UID</th>
                                <th>登陆账号</th>
                                <th>昵称</th>
                                <th class="col-md-2">标签</th>
                                <th class="col-md-1">是否有地址</th>
                                <th class="col-md-1">收藏店铺数</th>
                                <th class="col-md-1">收藏产品数</th>
                                <th class="col-md-1">购买订单数</th>
                                <th class="col-md-1">商品评论数</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for k,v in data.items %}
                            <tr id="{{ v.user_id }}">
                                <td>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" value="{{ v.user_id }}" />
                                        <span></span>
                                    </label>
                                </td>
                                <td class="text-center">{{v.user_id}}</td>
                                <td>{{v.account}}</td>
                                <td>{{ v.nickname }}</td>
                                <td>{{ v.tags }}</td>
                                <td class="text-center">{{ label(v.is_robot,{1:['danger','无'],2:['success','有']}) }}</td>
                                <td class="text-center">0</td>
                                <td class="text-center">0</td>
                                <td class="text-center">0</td>
                                <td class="text-center">0</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="nodata" colspan="10">暂无数据</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% include '_paginators/web.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

