<div class="row mt-20" >
    <div class="col-md-12 {% if params.searchType is empty %}hide{% endif %}" id="listSearchBox">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-search"></i>搜索
                </div>
                <div class="tools">
                    <a class="clearSearchBtn" href="javascript:;" title="重置表单">
                        <i class="fa fa-refresh font-white" aria-hidden="true"></i>
                    </a>
                    <a class="searchBoxBtn" href="javascript:;" title="关闭搜索框">
                        <i class="fa fa-close font-white" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body flip-scroll">
                <div class="form-inline mt-5">
                    <form id="searchForm" action="{{url('/backend/robot/orders')}}" method="post">
                        <div class="form-group">
                            <label>筛选条件:</label>
                            <select id="searchType" name="searchType" class="form-control">
                                <option value="order_sn" {{params.searchType|eq('order_sn','selected','')}}>订单号码</option>
                                <option value="user_id" {{params.searchType|eq('user_id','selected','')}}>UID</option>
                                <option value="created_time" {{params.searchType|eq('created_time','selected','')}}>创建时间</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="searchValue" name="searchValue" value="{{params.searchValue}}" placeholder="搜索">
                            <button type="button" id="searchBtn" class="btn btn-success">搜索</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="tabbable tabbable-tabdrop tabbable-custom">
            <ul class="nav nav-tabs mb-20">
                <li {% if params.order_status=='' %}class="active"{% endif %}>
                    <a href="{{url('/backend/robot/orders')}}">
                        所有订单
                        <span class="badge badge-default"> {{countList['total']['ct']|default(0)}} </span>
                    </a>
                </li>
                <li {% if params.order_status=='paid' %}class="active"{% endif %}>
                    <a href="{{url('/backend/robot/orders',{'order_status':'paid'})}}">
                        待发货 <span class="badge badge-warning"> {{countList['paid']['ct']|default(0)}} </span>
                    </a>
                </li>
                <li {% if params.order_status=='shipped' %}class="active"{% endif %}>
                    <a href="{{url('/backend/robot/orders',{'order_status':'shipped'})}}">
                        待收货  <span class="badge badge-info"> {{countList['shipped']['ct']|default(0)}} </span>
                    </a>
                </li>
                <li {% if params.order_status=='completed' %}class="active"{% endif %}>
                    <a href="{{url('/backend/robot/orders',{'order_status':'completed'})}}">
                        已完成  <span class="badge badge-success"> {{countList['completed']['ct']|default(0)}} </span>
                    </a>
                </li>
                <li class="pull-right">
                    {{ render("main/_tools") }}
                </li>
            </ul>
            <div class="tab-content">
                {{ render("main/_actions") }}
                <div class="table-responsive">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-striped table-hover table-checkable order-column dataTable mt-20 mb-10">
                            <thead>
                                <tr role="row">
                                    <th class="width50">
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="group-checkable">
                                            <span></span>
                                        </label>
                                    </th>
                                    <th>订单号码</th>
                                    <th class="col-md-2">所属商户</th>
                                    <th class="col-md-1">收货人</th>
                                    <th class="col-md-1">订单总额</th>
                                    <th class="col-md-1">商户成本价</th>
                                    <th>下单时间</th>
                                    <th>发货时间</th>
                                    <th>评论时间</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for k,v in data.items %}
                            <tr role="row" id="{{ v.order_id }}" data-orderstatus="{{v.order_status}}">
                                <td>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" value="{{ v.order_id }}">
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <div class="socicons pull-left">
                                        <i class="operator fa fa-plus-square-o getExtendTrBtn" data-close="1" data-callback="robotJs.showListChild"></i>
                                        {{ v.order_sn }}
                                    </div>
                                </td>
                                <td>{{ merchantList[v.merchant_id].merchant_name }}</td>
                                <td>{{ v.address_real_name }}</td>
                                <td>{{v.total_price}}</td>
                                <td>{{v.mer_cost_price}}</td>
                                <td>{{ v.created_time|date('Y-m-d H:i:s') }}</td>
                                <td>
                                    {% if v.delivery_time>0 %}
                                    {{ v.delivery_time|date('Y-m-d H:i:s') }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if v.order_status=='completed' %}
                                    {{ v.updated_time|date('Y-m-d H:i:s') }}
                                    {% endif %}
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="nodata" colspan="10">暂无数据</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% include '_paginators/web.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

