<div class="row mt-20" >
    {{ render("sys/currency/_search") }}
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="{{ cmenu.icon }} font-dark"></i>
                    <span class="caption-subject bold uppercase">{{cmenu.name}}</span>
                </div>
                <div class="tools" style="padding:0px;">
                    {{ render("main/_tools") }}
                </div>
            </div>
            <div class="portlet-body">
                {{ render("main/_actions") }}
                <div class="table-responsive">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-striped table-hover table-checkable order-column dataTable mt-20 mb-10">
                            <thead>
                                <tr role="row">
                                    <th>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="group-checkable">
                                            <span></span>
                                        </label>
                                    </th>
                                    <th>货币名称</th>
                                    <th>货币代码</th>
                                    <th>货币符号</th>
                                    <th>排序</th>
                                    <th>是否本位币</th>
                                    <th>状态</th>
                                    <th>更新时间</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for k,v in data.items %}
                            <tr role="row">
                                <td>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" value="{{ v.currency_id }}">
                                        <span></span>
                                    </label>
                                </td>
                                <td>{{ v.currency_name }}</td>
                                <td>{{ v.currency_code }}</td>
                                <td>{{ v.currency_symbol }}</td>
                                <td>{{ v.sort }}</td>
                                <td>{{ label(v.is_rec,{0:['danger','否'],1:['success','是']}) }}</td>
                                <td>{{ label(v.status,{0:['danger','隐藏'],1:['success','显示']}) }}</td>
                                <td>{{ v.updated_time|date('Y-m-d H:i:s') }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="nodata" colspan="10">暂无数据</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% include '_paginators/web.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

