<div class="row mt-20">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cursor font-dark hide"></i>
                <span class="caption-subject font-dark bold uppercase">数据总统计</span>
            </div>
            <div class="actions">&nbsp;</div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-10">
                    <a class="dashboard-stat dashboard-stat-v2 blue" href="javascript:;">
                        <div class="visual">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{member_cnt}}</span>
                            </div>
                            <div class="desc"> 总注册用户数 </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-10">
                    <a class="dashboard-stat dashboard-stat-v2 blue" href="javascript:;">
                        <div class="visual">
                            <i class="fa fa-user-plus"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{member_point}}</span>
                            </div>
                            <div class="desc"> 总出彩积分数 </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-10">
                    <a class="dashboard-stat dashboard-stat-v2 purple" href="javascript:;">
                        <div class="visual">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{spu_cnt}}</span>
                            </div>
                            <div class="desc"> 总商品数 </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-10">
                    <a class="dashboard-stat dashboard-stat-v2 purple" href="javascript:;">
                        <div class="visual">
                            <i class="fa fa-user-plus"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{project_number_cnt}}</span>
                            </div>
                            <div class="desc"> 总项目排期数 </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-10">
                    <a class="dashboard-stat dashboard-stat-v2 red" href="javascript:;">
                        <div class="visual">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{order_cnt}}</span>
                            </div>
                            <div class="desc"> 总支付订单数 </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-10">
                    <a class="dashboard-stat dashboard-stat-v2 red" href="javascript:;">
                        <div class="visual">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{order_money|default(0)}}</span>
                            </div>
                            <div class="desc"> 总支付订单额 </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-10">
                    <a class="dashboard-stat dashboard-stat-v2 green" href="javascript:;">
                        <div class="visual">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{order_pending_cnt}}</span>
                            </div>
                            <div class="desc"> 待审核订单数 </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-10">
                    <a class="dashboard-stat dashboard-stat-v2 green"  href="javascript:;">
                        <div class="visual">
                            <i class="fa fa-vine"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{order_completed_cnt}}</span>
                            </div>
                            <div class="desc"> 已出彩订单数 </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cursor font-dark hide"></i>
                <span class="caption-subject font-dark bold uppercase">周报表统计</span>
            </div>
            <div class="actions">&nbsp;</div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-olive">
                            <i class="fa fa-user-plus"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">周注册用户数</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{week_member_cnt}}</a>
                                <small>个</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-teal">
                            <i class="fa fa-road"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">周支付订单数</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{week_order_cnt}}</a>
                                <small>个</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-light-blue">
                            <i class="fa fa-vine"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">周支付订单额</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{week_order_money}}</a>
                                <small>元</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-purple">
                            <i class="fa fa-cny"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">周出彩单数数</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{week_order_finish}}</a>
                                <small>个</small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cursor font-dark hide"></i>
                <span class="caption-subject font-dark bold uppercase">日报表统计</span>
            </div>
            <div class="actions">&nbsp;</div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-olive">
                            <i class="fa fa-user-plus"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">日注册用户数</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{today_member_cnt}}</a>
                                <small>个</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-teal">
                            <i class="fa fa-road"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">日支付订单数</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{today_order_cnt}}</a>
                                <small>个</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-light-blue">
                            <i class="fa fa-vine"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">日支付订单额</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{today_order_money}}</a>
                                <small>元</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-purple">
                            <i class="fa fa-cny"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">日出彩单数数</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{today_order_finish}}</a>
                                <small>个</small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>