<div class="row mt-20">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cursor font-dark hide"></i>
                <span class="caption-subject font-dark bold uppercase">数据总统计</span>
            </div>
            <div class="actions">&nbsp;</div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-10">
                    <a class="dashboard-stat dashboard-stat-v2 blue" href="{{url('/backend/member/list')}}">
                        <div class="visual">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{member_cnt}}</span>
                            </div>
                            <div class="desc"> 总注册用户数 </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-10">
                    <a class="dashboard-stat dashboard-stat-v2 purple" href="{{url('/backend/merchant/list')}}">
                        <div class="visual">
                            <i class="fa fa-user-plus"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{merchant_cnt}}</span>
                            </div>
                            <div class="desc"> 总商户注册数 </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-10">
                    <a class="dashboard-stat dashboard-stat-v2 blue" href="{{url('/backend/memberExtend/list')}}">
                        <div class="visual">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{member_wallet}}</span>
                            </div>
                            <div class="desc"> 用户总余额 </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-10">
                    <a class="dashboard-stat dashboard-stat-v2 purple" href="{{url('/backend/memberExtend/list')}}">
                        <div class="visual">
                            <i class="fa fa-user-plus"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{merchant_profit}}</span>
                            </div>
                            <div class="desc"> 商户总收益 </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-10">
                    <a class="dashboard-stat dashboard-stat-v2 red" href="{{url('/backend/order/list')}}">
                        <div class="visual">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{order_cnt}}</span>
                            </div>
                            <div class="desc"> 总店铺订单数 </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-10">
                    <a class="dashboard-stat dashboard-stat-v2 red" href="{{url('/backend/order/list')}}">
                        <div class="visual">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{order_money|default(0)}}</span>
                            </div>
                            <div class="desc"> 总店铺订单额 </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-10">
                    <a class="dashboard-stat dashboard-stat-v2 green" href="{{url('/backend/withdrawOrder/list')}}">
                        <div class="visual">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{withdraw_order_cnt}}</span>
                            </div>
                            <div class="desc"> 总提现订单数 </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-10">
                    <a class="dashboard-stat dashboard-stat-v2 green" href="{{url('/backend/rechargeOrder/list')}}">
                        <div class="visual">
                            <i class="fa fa-vine"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup">{{recharge_order_cnt}}</span>
                            </div>
                            <div class="desc"> 总充值订单数 </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cursor font-dark hide"></i>
                <span class="caption-subject font-dark bold uppercase">周报表统计</span>
            </div>
            <div class="actions">&nbsp;</div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-olive">
                            <i class="fa fa-user-plus"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">周注册用户数</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{week_member_cnt}}</a>
                                <small>个</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-teal">
                            <i class="fa fa-road"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">周产品订单数</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{week_order_cnt}}</a>
                                <small>个</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-light-blue">
                            <i class="fa fa-vine"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">周充值订单数</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{week_recharge_cnt}}</a>
                                <small>个</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-purple">
                            <i class="fa fa-cny"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">周提现订单数</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{week_withdraw_cnt}}</a>
                                <small>个</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-maroon">
                            <i class="fa fa-user-plus"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">周注册商户数</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{week_merchant_cnt|default(0)}}</a>
                                <small>个</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-maroon">
                            <i class="fa fa-road"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">周产品订单额</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{week_order_money|default(0)}}</a>
                                <small>元</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-maroon">
                            <i class="fa fa-vine"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">周充值订单额</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{week_recharge_money|default(0)}}</a>
                                <small>元</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-maroon">
                            <i class="fa fa-cny"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">周提现订单额</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{week_withdraw_money|default(0)}}</a>
                                <small>元</small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cursor font-dark hide"></i>
                <span class="caption-subject font-dark bold uppercase">今日报表统计</span>
            </div>
            <div class="actions">&nbsp;</div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-olive">
                            <i class="fa fa-user-plus"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">日注册用户数</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{today_member_cnt}}</a>
                                <small>个</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-teal">
                            <i class="fa fa-road"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">日产品订单数</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{today_order_cnt}}</a>
                                <small>个</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-light-blue">
                            <i class="fa fa-vine"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">日充值订单数</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{today_recharge_cnt}}</a>
                                <small>个</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-purple">
                            <i class="fa fa-cny"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">日提现订单数</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{today_withdraw_cnt}}</a>
                                <small>个</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-maroon">
                            <i class="fa fa-user-plus"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">日注册商户数</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{today_merchant_cnt|default(0)}}</a>
                                <small>个</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-maroon">
                            <i class="fa fa-road"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">日产品订单额</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{today_order_money|default(0)}}</a>
                                <small>元</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-maroon">
                            <i class="fa fa-vine"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">日充值订单额</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{today_recharge_money|default(0)}}</a>
                                <small>元</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-maroon">
                            <i class="fa fa-cny"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">日提现订单额</span>
                            <span class="info-box-number">
                                <a href="javascript:;">{{today_withdraw_money|default(0)}}</a>
                                <small>元</small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>