<div class="row mt-20">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="{{ cmenu.icon }} font-dark"></i>
                    <span class="caption-subject bold uppercase">{{cmenu.name}}</span>
                </div>
                <div class="actions"></div>
            </div>
            <div class="portlet-body form">
                <form action="{{url('/backend/articleCategory/update')}}" class="form-horizontal formValidation"
                      method="put" data-callback="updateSubmit" >
                    <div class="form-body" id="formFieldData">
                        <div class="form-group">
                            <label class="col-md-2 control-label">分类名称
                                <span class="required" aria-required="true">*</span>
                            </label>
                            <div class="col-md-8">
                                <input type="hidden" id="category_id" name="category_id" />
                                <input type="text" class="form-control" placeholder="分类名称" id="category_name" name="category_name"
                                       required data-fv-notempty-message="分类名称不能为空" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">所属父级
                                <span class="required" aria-required="true">*</span>
                            </label>
                            <div class="col-md-8">
                                <select class="form-control" name="parent_id" id="parent_id">
                                    <option value="0">顶级分类</option>
                                    {% for k,v in parentList %}
                                    <option value="{{v.category_id}}">{{v.category_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">排序值
                                <span class="required" aria-required="true">*</span>
                            </label>
                            <div class="col-md-8">
                                <input type="number"  class="form-control" placeholder="排序值" id="sort" name="sort" step="1" max="255" value="100"
                                       required data-fv-notempty-message="排序值不能为空"
                                       data-fv-lessthan-inclusive="true" data-fv-lessthan-message="最大值不能超过255" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">类型
                                <span class="required" aria-required="true">*</span>
                            </label>
                            <div class="col-md-8">
                                <div class="md-radio-inline">
                                    {% for key,val in {"page":"单页面","news":"新闻","info":"其他"} %}
                                    <div class="md-radio">
                                        <input type="radio" id="type_{{key}}" name="type" value="{{key}}"  class="md-radiobtn"
                                               {% if key==data.type %}checked=""{% endif %} >
                                        <label for="type_{{key}}">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> {{val}}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">状态
                                <span class="required" aria-required="true">*</span>
                            </label>
                            <div class="col-md-8">
                                <div class="md-radio-inline">
                                    {% for key,val in ['隐藏','显示'] %}
                                    <div class="md-radio">
                                        <input type="radio" id="status_{{key}}" name="status" value="{{key}}"  class="md-radiobtn"
                                               {% if key==data.status %}checked=""{% endif %} >
                                        <label for="status_{{key}}">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> {{val}}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-6">
                                <button type="submit" id="articleCategorySubmitBtn" class="btn green">保存</button>
                                <button type="reset" class="btn default">重置</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


