<tr class="child" pid="{{data.order_id}}">
    <td colspan="12" style="text-align:left;padding:0px;word-break:break-all;">
        <div class="row goodsInfo" style="margin:0px;">
            <div class="tabbable tabbable-tabdrop">
                <ul class="nav nav-tabs">
                    <li class="active" name="tab_info">
                        <a href="#tab_info" data-toggle="tab" aria-expanded="true">订单信息</a>
                    </li>
                    <li class="" name="tab_spu">
                        <a href="#tab_spu" data-toggle="tab" aria-expanded="false">商品信息</a>
                    </li>
                    <li class="" name="tab_project_order">
                        <a href="#tab_project_order" data-toggle="tab" aria-expanded="false">项目排期记录</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_info">
                        <div class="profile-user-info" style="background-color:#fff;margin:0px;">
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 订单编号 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.order_no }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 所属项目 </div>
                                    <div class="profile-info-value">
                                        <span>{{ project.project_name }}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 订单状态 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.order_status }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 项目位置 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.project_sort }}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 出彩积分 </div>
                                    <div class="profile-info-value">
                                        <span>{{data.point}}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 邀请人数量 </div>
                                    <div class="profile-info-value">
                                        <span>{{data.invite_cnt}}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 创建时间 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.created_time|default(' ') }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 状态 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.status|replace({2:'已结束',1:'进行中','-1':'已删除'}) }}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            {% if data.order_status=='pending' %}
                            <div class="profile-info-row">
                                <div class="profile-info-name"> 支付上传凭证 </div>
                                <div class="profile-info-value">
                                    <span>
                                        {% if v.file_url %}
                                        <div class="mt-card-avatar mt-overlay-1" style="margin-bottom: 5px;height:100px;border-bottom:1px solid #e7ecf1">
                                            <a href="{{v.file_url}}" target="_blank"><img  src="{{v.file_url}}"  ></a>
                                        </div>
                                        {% else %}
                                        暂无数据
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            {% elseif data.order_status=='paid' %}
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 支付金额 </div>
                                    <div class="profile-info-value">
                                        <span>{{data.pay_money}}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 审核时间 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.verify_time|default(' ') }}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_spu">
                        <div class="profile-user-info" style="background-color:#fff;margin:0px;">
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 商品编号 </div>
                                    <div class="profile-info-value">
                                        <span>{{ spu.spu_no }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 商品名称 </div>
                                    <div class="profile-info-value">
                                        <span>{{spu.title}}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 市场价格 </div>
                                    <div class="profile-info-value">
                                        <span>{{ spu.market_price }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 销售价格 </div>
                                    <div class="profile-info-value">
                                        <span>{{ spu.sell_price }}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 出彩积分 </div>
                                    <div class="profile-info-value">
                                        <span>{{ spu.point|default('&nbsp;') }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 状态 </div>
                                    <div class="profile-info-value">
                                        <span>{{spu.status|replace({2:"已下架",1:"已上架",0:"待审核"})}}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 库存数量 </div>
                                    <div class="profile-info-value">
                                        <span>{{ spu.store_num|default('&nbsp;') }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 销售数量 </div>
                                    <div class="profile-info-value">
                                        <span>{{spu.sales_cnt|default('&nbsp;')}}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 创建时间 </div>
                                    <div class="profile-info-value">
                                        <span>{{ spu.created_time|date('Y-m-d H:i:s') }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 上架时间 </div>
                                    <div class="profile-info-value">
                                        {% if spu.up_time %}
                                        <span>{{ spu.up_time }}</span>
                                        {% else %}
                                        <span>&nbsp;</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_project_order">
                        <div class="panel panel-default m-b-none">
                            <table class="table table-striped m-b-none">
                                <thead>
                                <tr>
                                    <th class="col-xs-2">项目编号</th>
                                    <th class="col-xs-2">用户位置</th>
                                    <th class="col-xs-3">创建时间</th>
                                    <th class="col-xs-2">状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if projectOrder %}
                                {% for k,v in projectOrder %}
                                <tr class="sku_node">
                                    <td>{{v['project_number']}}</td>
                                    <td>{{v['user_number']}}</td>
                                    <td>{{v['created_time']|date('Y-m-d H:i:s') }}</td>
                                    <td>{{v.status|replace({2:"已出彩",1:"进行中",0:"已拆分","-1":"已删除"})}}</td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td class="nodata" colspan="10">暂无数据</td>
                                </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>