<div class="row mt-20" >
    {{ render("sys/ipVisit/_search") }}
    <div class="col-md-12">
        <div class="tabbable tabbable-tabdrop tabbable-custom">
            <ul class="nav nav-tabs mb-20">
                <li {% if params.limit_type=='' %}class="active"{% endif %}>
                    <a href="{{url('/backend/ipVisit/list')}}">
                        所有数据
                        <span class="badge badge-default"> {{countList['total']|default(0)}} </span>
                    </a>
                </li>
                <li {% if params.limit_type=='0' %}class="active"{% endif %}>
                    <a href="{{url('/backend/ipVisit/list',{'limit_type':'0'})}}">
                        未设置 <span class="badge badge-warning"> {{countList['0']|default(0)}} </span>
                    </a>
                </li>
                <li {% if params.limit_type=='1' %}class="active"{% endif %}>
                    <a href="{{url('/backend/ipVisit/list',{'limit_type':'1'})}}">
                        黑名单 <span class="badge badge-danger"> {{countList['1']|default(0)}} </span>
                    </a>
                </li>
                <li {% if params.limit_type=='2' %}class="active"{% endif %}>
                    <a href="{{url('/backend/ipVisit/list',{'limit_type':'2'})}}">
                        白名单
                        <span class="badge badge-success"> {{countList['2']|default(0)}} </span>
                    </a>
                </li>
                <li class="pull-right">
                    {{ render("main/_tools") }}
                </li>
            </ul>
            <div class="tab-content">
                {{ render("main/_actions") }}
                <div class="table-responsive">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-striped table-hover table-checkable order-column dataTable mt-20 mb-10">
                            <thead>
                                <tr role="row">
                                    <th class="width50">
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="group-checkable">
                                            <span></span>
                                        </label>
                                    </th>
                                    <th class="col-md-2">IP地址</th>
                                    <th class="col-md-1">国家</th>
                                    <th class="col-md-1">总访问次数</th>
                                    <th class="col-md-1">今日访问次数</th>
                                    <th style="width:180px;">最后访问时间</th>
                                    <th style="width:90px;">限制类型</th>
                                    <th>创建时间</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for k,v in data.items %}
                            <tr role="row">
                                <td>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" value="{{ v.id }}">
                                        <span></span>
                                    </label>
                                </td>
                                <td>{{ v.client_ip }}</td>
                                <td>{{ v.country|default('<span style="color:red">无</span>') }}</td>
                                <td>{{ v.total_visit_num  }}</td>
                                <td>{{ v.today_visit_num }}</td>
                                <td>{{ v.last_visit_time }}</td>
                                <td style="padding-left:20px;">
                                    {% if v.limit_type==1 %}
                                    <button class="btn btn-xs btn-danger setLimitTypeBtn" data-id="{{v.id}}" data-status="{{v.limit_type}}" data-toggle="confirmation"  data-placement="top"  data-original-title="设置状态"
                                            data-btn-ok-label="不设置" data-btn-ok-class="btn-info" data-btn-ok-icon=""
                                            data-btn-cancel-label="白名单" data-btn-cancel-class="btn-success"  data-btn-cancel-icon="">
                                        黑名单
                                    </button>
                                    {% elseif v.limit_type==2 %}
                                    <button class="btn btn-xs btn-success setLimitTypeBtn" data-id="{{v.id}}" data-status="{{v.limit_type}}" data-toggle="confirmation" data-placement="top"  data-original-title="设置状态"
                                            data-btn-ok-label="不设置" data-btn-ok-class="btn-info" data-btn-ok-icon=""
                                            data-btn-cancel-label="黑名单" data-btn-cancel-class="btn-danger" data-btn-cancel-icon="">
                                        白名单
                                    </button>
                                    {% else %}
                                    <button class="btn btn-xs btn-info setLimitTypeBtn" data-id="{{v.id}}" data-status="{{v.limit_type}}" data-toggle="confirmation" data-placement="top" data-original-title="设置状态"
                                            data-btn-ok-label="白名单" data-btn-ok-class="btn-success"
                                            data-btn-cancel-label="黑名单" data-btn-cancel-class="btn-danger">
                                        未设置
                                    </button>
                                    {% endif %}
                                </td>
                                <td>{{ v.created_time|date('Y-m-d H:i:s') }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="nodata" colspan="10">暂无数据</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% include '_paginators/web.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

