<tr class="child" pid="{{data.project_id}}">
    <td colspan="12" style="text-align:left;padding:0px;word-break:break-all;">
        <div class="row goodsInfo" style="margin:0px;">
            <div class="tabbable tabbable-tabdrop">
                <ul class="nav nav-tabs">
                    <li class="active" name="tab_info">
                        <a href="#tab_info" data-toggle="tab" aria-expanded="true">基本信息</a>
                    </li>
                    <li class="" name="tab_number">
                        <a href="#tab_number" data-toggle="tab" aria-expanded="false">项目排期</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_info">
                        <div class="profile-user-info" style="background-color:#fff;margin:0px;">
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 项目编号 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.project_no }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 项目名称 </div>
                                    <div class="profile-info-value">
                                        <span>{{data.project_name}}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 销量 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.sales_cnt }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 销售额 </div>
                                    <div class="profile-info-value">
                                        <span>{{data.sales_money}}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 项目期 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.getViewNumber() }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 限购数量 </div>
                                    <div class="profile-info-value">
                                        <span>{{data.limit_num}}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 开始时间 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.start_time }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 结束时间 </div>
                                    <div class="profile-info-value">
                                        <span>{{data.end_time}}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="profile-info-row">
                                <div class="col-2">
                                    <div class="profile-info-name"> 创建时间 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.created_time|date('Y-m-d H:i:s') }}</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="profile-info-name"> 修改时间 </div>
                                    <div class="profile-info-value">
                                        <span>{{ data.updated_time|date('Y-m-d H:i:s') }}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_number">
                        <div class="panel panel-default m-b-none">
                            <table class="table table-striped m-b-none">
                                <thead>
                                <tr>
                                    <th class="col-xs-2">项目排期号码</th>
                                    <th class="col-xs-1">项目人数</th>
                                    <th class="col-xs-2">来源</th>
                                    <th class="col-xs-2">创建时间</th>
                                    <th class="col-xs-2">修改时间</th>
                                    <th class="col-xs-1">状态</th>
                                    <th class="col-xs-1">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if projectNumber %}
                                {% for k,v in projectNumber %}
                                <tr class="sku_node">
                                    <td>{{v['project_number']}}</td>
                                    <td>{{v['user_cnt']}}</td>
                                    <td>{{v['from_number']}}</td>
                                    <td>{{v['created_time']|date('Y-m-d H:i:s') }}</td>
                                    <td>{{v['updated_time']|date('Y-m-d H:i:s') }}</td>
                                    <td>{{v['status']|replace({2:'已拆分',1:'进行中',0:'已关闭','-1':'已删除'}) }}</td>
                                    <td><a data-type="number" data-val="{{v['project_number']}}" class="btn btn-default btn-xs projectOrderBtn">查看</a></td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td class="nodata" colspan="10">暂无数据</td>
                                </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>