<div class="row mt-20" >
    {{ render("goods/project/_search") }}
    <div class="col-md-12">
        <div class="tabbable tabbable-tabdrop tabbable-custom">
            <ul class="nav nav-tabs mb-20">
                <li {% if params.status=='' %}class="active"{% endif %}>
                    <a href="{{url('/backend/project/list')}}">
                        所有项目
                        <span class="badge badge-default"> {{countList['total']|default(0)}} </span>
                    </a>
                </li>
                <li {% if params.status=='0' %}class="active"{% endif %}>
                    <a href="{{url('/backend/project/list',{'status':'0'})}}">
                        等待审核 <span class="badge badge-warning"> {{countList['0']|default(0)}} </span>
                    </a>
                </li>
                <li {% if params.status=='1' %}class="active"{% endif %}>
                    <a href="{{url('/backend/project/list',{'status':'1'})}}">
                        进行中 <span class="badge badge-success"> {{countList['1']|default(0)}} </span>
                    </a>
                </li>
                <li {% if params.status=='2' %}class="active"{% endif %}>
                    <a href="{{url('/backend/project/list',{'status':'2'})}}">
                        已结束
                        <span class="badge badge-danger"> {{countList['2']|default(0)}} </span>
                    </a>
                </li>
                <li class="pull-right">
                    {{ render("main/_tools") }}
                </li>
            </ul>
            <div class="tab-content">
                {{ render("main/_actions") }}
                <div class="table-responsive">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-striped table-hover table-checkable order-column dataTable mt-20 mb-10">
                            <thead>
                                <tr role="row">
                                    <th class="width50">
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="group-checkable">
                                            <span></span>
                                        </label>
                                    </th>
                                    <th class="col-md-2">项目名称</th>
                                    <th class="col-md-1">项目编号</th>
                                    <th class="col-md-1">项目成团人数</th>
                                    <th class="col-md-1">项目X期</th>
                                    <th class="col-md-1">销量</th>
                                    <th style="width:110px;">项目开始时间</th>
                                    <th style="width:110px;">项目结束时间</th>
                                    <th>项目状态</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for k,v in data.items %}
                            <tr role="row" id="{{ v.project_id }}">
                                <td>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" value="{{ v.project_id }}">
                                        <span></span>
                                    </label>
                                </td>
                                <td>{{ v.project_name }}</td>
                                <td>{{ v.project_no }}</td>
                                <td>{{ v.user_cnt }}</td>
                                <td>{{ v.getViewNumber() }}</td>
                                <td>{{ v.sales_cnt }}</td>
                                <td>{{ v.start_time }}</td>
                                <td>{{ v.end_time }}</td>
                                <td>
                                    {{ label(v.status,{0:['default','未开始'],1:['success','进行中'],2:['danger','已结束']}) }}
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="nodata" colspan="10">暂无数据</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% include '_paginators/web.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

